.header{
    width: 100%;
    background: linear-gradient(45deg, var(--persian-blue), var(--ultramarine-blue));
    box-shadow: 0 0 12px 4px var(--grey);
    position: fixed;
    top: 0;
}

.header .header__list{
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: var(--header-height);
}

.header .header__item:first-child{
    flex-grow: 1;
}

.header .header__logo{
    width: 50px;
}
