.home{
    --icon-size: 75px;

    display: flex;
    flex-direction: column;
}

.home__space{
    padding: 4rem 0;
    box-sizing: border-box;
}

.home__first-content{
    padding: 8rem 0;
    box-sizing: border-box;
    background-color: var(--white);
}

.home__presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home__title{
    font-size: 6rem;
    color: var(--black);
    font-family: var(--font-title);
    text-indent: -6px;
    margin-bottom: 16px;
    font-weight: bold;
}

.home__title:after{
    content: "";
    width: 100%;
    height: 12px;
    background-color: var(--pink);
    display: block;
    top: -4px;
    transform: skew(0, -1deg);
    position: relative;
    border-radius: 4px;
}

.home__subject{
    font-size: 1.4rem;
    color: var(--black);
}

.home__second-content{
    background-color: var(--dark-grey);
}

.home__subtitle{
    font-size: 3rem;
    font-family: var(--font-title);
    text-indent: -2px;
    color: var(--white);
    margin-bottom: 12px;
    font-weight: 600;
}

.home__word{
    font-size: 1.2rem;
    color: var(--white);
}

.home__word--highlight{
    font-weight: 600;
}

.home__results{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    padding: 3rem;
    border-radius: 8px;
    box-sizing: border-box;
    background: linear-gradient(65deg, var(--white) 70%, var(--dark-grey) 80%);
}

.home__symbol{
    font-size: var(--icon-size);
    margin: 0 32px;
    color: var(--black);
}

.home__img{
    height: var(--icon-size);
}
