.home{
    --icon-size: 75px;

    display: flex;
    flex-direction: column;
}

.home__space{
    padding: 4rem 0;
    box-sizing: border-box;
}

.home__first-content{
    padding: 8rem 0;
    box-sizing: border-box;
    background-color: var(--white);
}

.home__presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home__title{
    font-size: 6rem;
    color: var(--black);
    font-family: var(--font-title);
    text-indent: -6px;
    margin-bottom: var(--title-space);
    font-weight: bold;
    hyphens: auto;
}

.home__title:after{
    content: "";
    width: 100%;
    height: 12px;
    background-color: var(--pink);
    display: block;
    transform: skew(0, -1deg);
    position: relative;
    border-radius: var(--border-radius);
}

.home__subject{
    font-size: 1.4rem;
    color: var(--black);
}

.home__second-content{
    background-color: var(--dark-grey);
}

.home__third-content{
    background-color: var(--black);
}

.home__fourth-content{
    background-color: var(--white);
}

.home__word{
    font-size: 1.2rem;
    color: var(--white);
}

.home__word.home__word--black{
    color: var(--black);
}

.home__word--highlight{
    font-weight: 600;
}

.home__results{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    padding: 3rem;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    background: linear-gradient(65deg, var(--white) 70%, var(--dark-grey) 80%);
}

.home__symbol{
    font-size: var(--icon-size);
    margin: 32px;
    color: var(--black);
}

.home__img{
    height: var(--icon-size);
}

.home__videos{
    --video-width-medium: 400px;

    margin-top: 4rem;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(2, var(--video-width-medium));
}

.home__video{
    width: var(--video-width-medium);
    height: 200px;
    border-radius: var(--border-radius);
}

.home__video-text{
    color: var(--white);
    margin-top: var(--title-space);
    width: var(--video-width-medium);
    display: inline-block;
}

.home__video-content{
    display: flex;
    flex-direction: column;
}

.home__imgs{
    --width-img: 400px;

    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, var(--width-img));
    grid-gap: var(--gap);
}

.home__fig-img{
    border-radius: var(--border-radius);
    box-shadow: 0 0 12px 0 var(--grey);
    width: var(--width-img);
    pointer-events: none;
}

.home__figcapt{
    margin-top: var(--title-space);
    font-size: 1rem;
}

@media(max-width: 1200px){
   .home__results{
       flex-direction: column;
       background: var(--white);
   }

    .home__presentation{
        justify-content: space-between;
    }

    .home__principal-image{
        display: none;
    }

    .home__videos{
        grid-template-columns: repeat(1, 1fr);
    }

    .home__video{
        margin: 0 auto;
    }

    .home__video-text{
        margin: var(--title-space) auto 0 auto;
    }

    .home__imgs{
        grid-template-columns: repeat(1, 1fr);
    }

    .home__fig-img{
        width: 100%;
    }
}

@media(max-width: 500px){
    .home__title{
        font-size: 4rem;
    }

    .home__img--fiap{
        height: 40px;
    }

    .home__video, .home__video-text{
        width: 100%;
    }
}
