.menu{
    width: 100%;
    background-color: var(--black);
    box-shadow: 0 -2px 16px 2px var(--pink);
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu__list{
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: var(--menu-height);
}

.menu__item:first-child{
    flex-grow: 1;
}

.menu__item:not(:last-child){
    margin-right: 1rem;
}

.menu__item:first-child{
    margin-right: 2rem;
}

.menu__home{
    height: inherit;
    display: inline-block;
}

.menu__list .menu__item.menu__item--link.menu__item--active .menu__link{
    color: var(--pink);
}

.menu__item--link .menu__link{
    color: var(--white);
    font-size: .9rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .25s;
    font-weight: 600;
    text-align: center;
    hyphens: auto;
}

.menu__item--link .menu__link:hover, .menu .menu__item--link .menu__link:focus{
    color: var(--pink);
}

.menu__link-text{
    --pos: -9999px;

    font-size: 1px;
    color: transparent;
    position: absolute;
    top: var(--pos);
    left: var(--pos);
}

.menu__logo{
    width: 50px;
}
