.robot{
    --margin-subtitle: 2rem;

    width: 100%;
}

.robot__title{
    font-size: 4rem;
}

.robot__subtitle{
    font-size: 2rem;
    margin-bottom: var(--margin-subtitle);
}

.robot__title, .robot__subtitle{
    font-family: var(--font-title);
    font-weight: 600;
}

.robot__container{
    display: flex;
    flex-direction: column;
}

.robot__img{
    margin-bottom: 1rem;
}

.robot__art{
    background-color: var(--black);
    color: var(--white);
    padding: 4rem 0;
    box-sizing: border-box;
    border-top: var(--border) var(--grey);
}

.robot__art.robot__art--head{
    background-color: var(--white);
    color: var(--black);
    border: none;
}

.robot__head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.robot__desc{
    font-size: 1.2rem;
}

.robot__videos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.robot__video{
    width: 100%;
    margin: 0 auto;
    height: 560px;
    border-radius: var(--border-radius);
    border: var(--border) var(--pink);
}

.robot__imgs{
    --width-img: 100%;

    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: fit-content;
}

.robot__fig .robot__fig-img{
    width: var(--width-img);
    max-width: var(--width-img);
    min-width: var(--width-img);
    border-radius: var(--border-radius);
    margin-bottom: var(--title-space);
    border: var(--border) var(--pink);
    box-sizing: border-box;
}

.robot__figcapt{
    hyphens: auto;
    word-break: break-word;
    font-size: 1rem;
}

@media(max-width: 1200px){
    .robot__video{
        height: 400px;
    }

    .robot__imgs{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 800px){
    .robot__video{
        height: 320px;
    }
}

@media(max-width: 600px){
    .robot__video{
        height: 240px;
    }
}
