:root{
    --flickr-pink: #f72585;
    --byzantine: #b5179e;
    --purple: #7209b7;
    --dark-purple: #560bad;
    --trypan-purple: #480ca8;
    --trypan-blue: #3a0ca3;
    --persian-blue: #3f37c9;
    --ultramarine-blue: #4361ee;
    --dodger-blue: #4895ef;
    --vivid-sky-blue: #4cc9f0;
    --grey: #5c5959;
    --header-height: 64px;
    --max-width: 1200px;
}
